/* =============
    Typography
============= */





body{
    
    font-family: 'Archer-Bold', sans-serif;
    
}

h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

.section-title{
    font-weight: 300;
}

#section-1{
    h1{
        font-family: 'Archer-SemiboldItalic', sans-serif;
    }

}
#section-2{
    h1{
        font-family: 'Archer-Book', sans-serif;
    }

}
#section-3{
    h1{
        font-family: 'Archer-Semibold', sans-serif;
    }
    h2{
        font-family: 'Archer-Medium', sans-serif;
    }
    p{
        font-family: 'Archer-Book', sans-serif;
    }

}
#section-4{
    h1{
        font-family: 'Archer-SemiboldItalic', sans-serif;
    }
    h2{
        font-family: 'Archer-Medium', sans-serif;
    }
    p{
        font-family: 'Archer-Book', sans-serif;
    }
}
#section-5{
    h1{
        font-family: 'Archer-SemiboldItalic', sans-serif;
    }
    p{
        font-family: 'Archer-Book', sans-serif;
    }
}
#footer{
    h2{
        font-family: 'Archer-Bold', sans-serif;
    }
}