/* =============
    Section 3
============= */
#section-3{
    background-color: $lightgreen;
    text-align: center;
    padding: 40px 100px;
    color: $darkgreen;
    height: 490px;
    
    

    @include md{
        height: 248px;
        align-items: center;
    }

  

    >div{

        
        @include md{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-areas: "title title title"
                                 "location-1 location-2 location-3";
            text-align: center;
            padding-left: 100px;
            padding-right: 100px;

        }

        @include xl{
            padding-left: 150px;
            padding-right: 150px;
        }

        h2{
            font-size: rem-calc(18);
            padding-bottom: 15px;

            @include xl{
                font-size: rem-calc(21);
            }
        }

        p{
            font-size: rem-cal(12);

            @include xl{
                font-size: rem-calc(16);
            }
            
        }

        #title{
            grid-area: title;

            i{
                font-size: rem-calc(40);
                margin-bottom: 15px;
            }
            h1{
                font-size: rem-calc(24);
                @include xl{
                    font-size: rem-calc(36);
                }
            }
        }

        #location-1{
            padding: 40px;
            grid-area: location-1;
        }

        #location-2{
            padding: 40px;
            grid-area: location-2;
        }

        #location-3{
            padding: 40px;
            grid-area: location-3;
        }

       
    }
}