/* =============
    Section 3
============= */
#section-3{
    background-color: $lightgreen;
    text-align: center;
    padding: 50px;
    color: $darkgreen;
    height: 490px;

  

    >div{
        @include md{
            display: flex;
            height: 248px;
            text-align: center;
        }

        #location-1{
            padding: 50px;
        }

        #location-2{
            padding: 50px;
        }

        #location-3{
            padding: 50px;
        }
    }
}