/* =============
    Section 4
============= */
#section-4{
    background-image: url('../img/section-4-dessert.jpg');
    background-position: center;
    background-size: cover;
    height: 770px;

    >div{
        padding-top: 370px;
        padding-bottom: 25px;
        padding-left: 50px;
        padding-right: 50px;
        


        #text-card{
            text-align: center;
            color: $white;
            display: inline-block;
            border-radius: 8px;
            background-color: $lightnavy;
            padding: 50px 10px;
            height: 220px;
        }
    }
    

}