/* =============
    Section 1
============= */
#section-1{
    >div{

        @include xl {
            display: grid;
            grid-template-areas: ". section-1 .";
            grid-template-columns: auto 1200px auto;
        }

        
        background-image: url('../img/section-1-hero.jpg');
        background-position: center;
        background-size: cover;
        height: 181px;

        @include md{
            height: 490px;
        }

        @include xl{
            height: 490px;
        }
        
        h1{
            color: $white;
            text-align: center;
        }
    }

}
