/* =============
    Section 4
============= */
#section-4{
    background-image: url('../img/section-4-dessert.jpg');
    background-position: center;
    background-size: cover;
    height: 770px;

    >div{

        #text-card{
            text-align: center;
            color: $white;
            display: inline-block;
            border-radius: 8px;
            background-color: $lightnavy;
            padding: 50px 10px;
        }
    }
    

}