/* =============
    Section 5
============= */
#section-5{
    background-image: url('../img/section-5-mission.jpg');
    background-position: center;
    background-size: cover;
    height: 525px;

    >div{

        #text-card{
            color: $white;
            text-align: center;
            display: inline-block;
            border-radius: 8px;
            background-color: $lightnavy;
            padding: 50px 20px;
        }

    }
    
}