/* =============
    Section 1
============= */
#section-1{

    >div{

        
        background-image: url('../img/section-1-hero.jpg');
        background-position: center;
        background-size: cover;
        height: 200px;
        margin-top: 173px;
        
        

        @include md{
            height: 490px;
        }

        @include xl{
            height: 490px;
            
        }
        
        h1{
            color: $white;
            text-align: center;
            padding-top: 80px;
            font-size: rem-calc(24);
            text-shadow: 0px 2px 4px grey;
        

            @include md{
                font-size: rem-calc(36);
                padding: 200px;
                
            }

            @include xl{
                font-size: rem-calc(48);
                padding: 200px;
            }
        }
    }

}
