/* =============
    Section 5
============= */
#section-5{
    background-image: url('../img/section-5-mission.jpg');
    background-position: center;
    background-size: cover;
    height: 525px;

    >div{
        padding-top: 130px;
        padding-bottom: 105px;
        padding-left: 20px;
        padding-right: 20px;

        @include md{
            height: 250px;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas: ". text-card";   
        }

        #text-card{
            color: $white;
            text-align: center;
            display: inline-block;
            border-radius: 8px;
            background-color: $lightnavy;
            padding: 30px 20px;
            height: 205px;

            grid-area: text-card;

            h1{
                font-size: rem-calc(24);
                line-height: rem-calc(30);
                padding-bottom: 20px;
            }
            p{
                font-size: rem-calc(18);
                line-height: rem-calc(23);
            }
        }

    }
    
}