/* =============
    Section 3
============= */
#section-3{
    background-color: $lightgreen;
    text-align: center;
    padding: 50px;
    color: $darkgreen;
    height: 490px;
    margin-bottom: 30px;

    @include md{
        height: 248px;
        align-items: center;
    }

  

    >div{

        
        @include md{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-areas: "title title title"
                                 "location-1 location-2 location-3";
            text-align: center;
            padding-left: 100px;
            padding-right: 100px;

        }

        @include xl{
            padding-left: 150px;
            padding-right: 150px;
        }

        #title{
            grid-area: title;
        }

        #location-1{
            padding: 50px;
            grid-area: location-1;
        }

        #location-2{
            padding: 50px;
            grid-area: location-2;
        }

        #location-3{
            padding: 50px;
            grid-area: location-3;
        }

       
    }
}