/* =============
    Section 4
============= */
#section-4{



    background-image: url('../img/section-4-dessert.jpg');
    background-position: center;
    background-size: cover;
    height: 770px;
    margin-bottom: 30px;

    

    >div{
        padding-top: 370px;
        padding-bottom: 25px;
        padding-left: 70px;
        padding-right: 70px;

        @include md{
            height: 250px;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas: "text-card . ";   
        }
        


        #text-card{
            text-align: center;
            color: $white;
            display: inline-block;
            border-radius: 8px;
            background-color: $lightnavy;
            padding: 50px 10px;
            height: 220px;

        
            grid-area: text-card;
            

           
        }
    }
    

}