/* =============
    Footer
============= */
#footer{
    background-color: $navy;
    height: 100%;

    @include md{
        display: grid;
        grid-template-columns: 30% auto;
        grid-template-areas: "logo div";
    }

    #logo{

        background-image: url('../img/logo.svg');
        background-repeat: no-repeat;
        background-position: center;
        height: 170px;
        padding-top: 20px;

        grid-area: logo;
        
        @include md{
            height: 180px;
            background-position: left; 
            padding-top: 10px;
            margin-left: 20px;
            
        }

        @include xl{
            margin-left: 40px;
        }

    }
   
    >div{

        grid-area: div;
        

        @include md{
            padding-top: 80px;
        }

        h2{
            text-align: center;
            color: $white;
            padding-top: 15px;
            font-size: rem-calc(14);
            padding-right: 7px;
            
            @include md{
                text-align: right;
                padding-right: 60px;
            }
        }


        ul {
            
            display: flex;
            justify-content: center;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-right: 10px;
            font-size: rem-calc(30);

            @include md {
                display: flex;
                justify-content: flex-end;
                padding-right: 37px;
                
            }

    

            li {
                margin: 0 10px;
                font-size: rem-calc(35);

                a:link,
                a:visited {
                    color: $black;
                }

                a:hover,
                a:active {
                    color: $white;
                }

                
            }
        }
    }
}
