/* =============
    Header
============= */
#header{
   
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;


    
    @include md{

        left: 0;
        position: fixed;
        top: 80px;
        width: 100%;

        
    }

    >div{

        
        
        #logo-container{
            text-align: center;
            background-color: $navy;
            

            @include md{
                height: 0px;
                position: relative;
                top:-83px;
                
            }
            
        }
        

        #burger-container{
            color: $white;
            text-decoration: none;
            display: flex;
            position: relative;
            top:-35px;
            padding-left: 30px;
            

            @include md {
                display: none !important;
            }

            i {
                cursor: pointer;
                font-size: rem-calc(30);
            }
        }

        

        
    }
}

