/* =============
    Navigation
============= */
#nav-container {
    ul {
        height: 100%;
        width: 50%;
        text-align: left;
        background-color: $lightgreen;

        @include md {
            display: flex;
            justify-content: center;
            width: 100%;
            background-color: $navy;
        }

        li {
            padding-left: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
            

            @include md {
                align-items: center;
                display: flex;
                margin: 0 20px 0 0;
            }

            a:link,
            a:visited {
                color: $navy;
                text-decoration: none;

                @include md{
                    color: $white;
                }

            }
            a:hover,
            a:active {
                color: $white;

                @include md{
                    color: $lightgreen;
                }
            }

        }

        li#nav-logo{
            display: none;

            @include md{
                display: block;
                width: 200px;
            }

        }
    }

}

